div{
    margin: 3rem;
}
.navbar{
    justify-content: space-between;
}
mat-sidenav-container{
    height: auto;
}
mat-sidenav, mat-sidenav-content{
    padding: 16px;
}
mat-sidenav{
    width: 200px;
    background-color: lightcoral;
}
mat-grid-tile{
    background-color: lightsalmon;
}
.number{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid maroon;
    box-sizing: border-box;
    height: 100px;

}

.container{
    height: 400px;
}